
Project/Project/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Project/Project/obj/Debug/netcoreapp3.1/App.g.i.cs
Project/Project/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
Project/Project/obj/Debug/netcoreapp3.1/Project.AssemblyInfo.cs
Project/Project/obj/Debug/netcoreapp3.1/Project.AssemblyInfoInputs.cache
Project/Project/obj/Debug/netcoreapp3.1/Project.assets.cache
Project/Project/obj/Debug/netcoreapp3.1/Project.csprojAssemblyReference.cache
Project/Project/obj/Debug/netcoreapp3.1/Project.designer.deps.json
Project/Project/obj/Debug/netcoreapp3.1/Project.designer.runtimeconfig.json
Project/Project/obj/Debug/netcoreapp3.1/Project_MarkupCompile.i.cache
Project/Project/obj/project.assets.json
Project/Project/obj/Project.csproj.nuget.dgspec.json
Project/Project/obj/Project.csproj.nuget.g.props
Project/Project/obj/Project.csproj.nuget.g.targets
Project/Project/obj/project.nuget.cache
Project/Student Program/bin/Debug/netcoreapp3.1/System.Text.Json.dll
Project/Student Program/bin/Debug/netcoreapp3.1/Student Program.runtimeconfig.json
Project/Student Program/bin/Debug/netcoreapp3.1/Student Program.runtimeconfig.dev.json
Project/Student Program/bin/Debug/netcoreapp3.1/Student Program.pdb
Project/Student Program/bin/Debug/netcoreapp3.1/Student Program.exe
Project/Student Program/bin/Debug/netcoreapp3.1/Student Program.dll
Project/Student Program/bin/Debug/netcoreapp3.1/Student Program.deps.json
Project/Student Program/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Project/Student Program/bin/Debug/netcoreapp3.1/Microsoft.Xaml.Behaviors.dll
Project/Student Program/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
Project/Student Program/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
Project/Student Program/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Project/Student Program/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
Project/Student Program/bin/Debug/netcoreapp3.1/MahApps.Metro.dll
Project/Student Program/bin/Debug/netcoreapp3.1/ControlzEx.dll
